*{
    font-family: Candara;
    font-weight: bold;
    font-size: 20;
    margin: 0;
    padding: 0;
}

body{    
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

a {
    border : 1px solid #fff;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: azure;
    padding: 5px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

ul li.active a{
    background-color: yellow;
    color: azure;
}


ul li a:hover{
    background-color: yellow;
    color: azure;
    transition: 0.7s ease;
}

.left {
    float: left;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
    padding: 5px 20px;
    
}


.but{
	float: left;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
    padding: 5px 20px;
    color:azure;
    border: 1px transparent;
    border-radius: 35px
    
}

.but:hover{
	background-color: yellow;
    color: azure;
    transition: 0.7s ease;
}

form{
    text-align: center;
}

form input{
    color: teal;
    background-color: azure;
    border-radius: 6px;
    border: 1px transparent;
}

.location{
    position: absolute;
    top: 50%;
    left: 8%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.location input{
    width: 200px;
}

.startdate{
    position: absolute;
    top: 50%;
    left: 24%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.enddate{
    position: absolute;
    top: 50%;
    left: 39.1%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.guests input{
    width: 100px;
}

.startprice{
    position: absolute;
    top: 50%;
    left: 54.2%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.startprice input{
    width: 100px;
}

.endprice{
    position: absolute;
    top: 50%;
    left: 63.7%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.endprice input{
    width: 100px;
}

.guests{
    position: absolute;
    top: 50%;
    left: 73.2%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.rooms{
    position: absolute;
    top: 50%;
    left: 82.6%;
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    color: azure;
    padding: 10px 20px 20px 20px;
    border: 1px transparent;
    border-radius: 35px;
}

.rooms input{
    width: 100px;
}

