*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: Candara;
    margin-top: 80px;
}

.registration_title{
    width: 400px;
    height: 50px;
    background-color: rgb(56,56,56);
    color: yellow;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

.registration_mane{
    width: 400px;
    background-color: rgb(56,56,56);
    color: yellow;
    margin: auto;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

form{
    padding: 10px;
    margin-left: 10px;
}

.username{
    position: relative;
    top: 10px;
    left: 3px;
}

.usernameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.password{
    position: relative;
    top: 10px;
    left: 3px;
}

.passwordinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.firstname{
    position: relative;
    top: 10px;
    left: 3px;
}

.firstnameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.lastname{
    position: relative;
    top: 10px;
    left: 3px;
}

.lastnameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.gender{
    position: relative;
    top: 10px;
    left: 3px;
}

.genderclass{
    position: relative;
    top: -12px;
    left: 180px;
}


.message{
    position: relative;
    top: -12px;
    left: 180px;
}


button{
    height: 50px;
    width: 200px;
    background-color: yellow;
    color: white;
    font-family: Candara;
    font-weight: bold;
    font-size: 22;
    border: 1px transparent;
    border-radius: 35px;
    margin-left: 5px;
}

button:hover{
    background-color: white;
    color: yellow;
    transition: 0.7s ease;
    text-align:center;
}

a {
    border : 1px solid #fff;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px transparent;
    border-radius: 35px;
    color: white;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin-top: -60px;
    margin-left: 15px;
    padding: 5px 20px;
}

a:hover{
    background-color: yellow;
    color: white;
    transition: 0.7s ease;
}