<html>
    <head>
    	<script src="./js/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script src="./js/index.js" type="text/javascript"></script>
	
    	<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body background="images/photo.jpg">

        <div id="main">
            <div class="logo">
                <img>
            </div>
            <!-- Pocetna -->
            <div v-if="loggedUser.name==null"> 
				<ul class="left">
		        	<li><a href="#/">Početna</a></li>
		        	
				</ul>  
				<ul>
	        		<li><a href="login.html">Uloguj se</a></li>
            		<li><a href="registration.html">Registruj se</a></li>
				</ul>   
				<ul class="but">
					<li id="pregledRestorana">Restorani</li>
					<li><button></button> </li>
				</ul>      	               

			</div>
			
			<div id="restoraniDIV" style="width: 400px;margin-left: 350px; margin-right: 220px;">
			</div>
		</div>
	
	</body>
	
</html>