<!DOCTYPE html>
<html lange="en">
<head>

<!-- Potrebne skripte -->
<script src="./js/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="./js/login.js" type="text/javascript"></script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        
<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/login.css" rel="stylesheet" />

<title>Login</title>
</head>
<body background="images/photo.jpg">

	<div class="login_title">	
		<h1>Uloguj se </h1>
	</div>
	
	<div class="login_mane">
        <h2 class="username">Korisničko ime</h2>
    	<form  id="loginForm">
            <input class="usernameinput" type="text" id="loginUsername" v-model="username"><br>
            <p id="alertUsername"> </p>
            <div v-if="falseUsername.length">

			</div>

            <h2 class="password">Lozinka</h2>
            <input class="passwordinput" type="password" id="loginPassword" v-model="password"><br>
            <p id="alertPassword"> </p>
            <div v-if="falsePassword.length">

			</div>

            <button type="submit">Uloguj se</button>


        </form>
    </div>

   
<!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <!--  <script src="js/scripts.js"></script>  -->
</body>
</html>